.Item-Price
{
	font-family: pt-sans-n7, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u307-4,#u110-4
{
	font-family: lato-n3, sans-serif;
}

#u201-4
{
	font-family: lato-n3, sans-serif;
}

#u223-4
{
	font-family: lato-n3, sans-serif;
}

#u245-4
{
	font-family: lato-n3, sans-serif;
}

#u7021-4,#u7036-4,#u7046-4,#u7056-4,#u7066-5,#u7071-5,#u7076-5,#u7081-5,#u7420-4
{
	font-family: lato-n4, sans-serif;
}

#widgetu7419_input,#widgetu7419_prompt
{
	font-family: lato, sans-serif;
}

#u7016-4,#u6986-4,#u7026-4,#u7037-4,#u7047-4,#u7057-4,#u7410-4,#u7414-4,#widgetu7418.frm-subm-ok-st #u7424-4 p,#u7424-4
{
	font-family: lato-n3, sans-serif;
}

#u7454-4
{
	font-family: lato-n3, sans-serif;
}


