#u3312
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	border-width: 0px 0px 1px;
	-pie-background: rgba(255,255,255,0.9);
}

#u63203-4
{
	-pie-box-shadow: 0px 2px 3px #D4D5D7;
	box-shadow: 0px 2px 3px rgba(40,48,56,0.2);
	background: #3796E0 url("../images/u63203-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#3796E0),color-stop(100%, #3796E0));
	background: -webkit-linear-gradient(top,#3796E0 ,#3796E0 100%);
	background: linear-gradient(to bottom,#3796E0 ,#3796E0 100%);
	line-height: 18px;
	font-weight: 400;
}

#u63203-4:hover
{
	-pie-box-shadow: 0px 1px 1px #D4D5D7;
	box-shadow: 0px 1px 1px rgba(40,48,56,0.2);
}

.Price
{
	border-width: 0px;
	border-color: #000000;
	background-color: #8CC63F;
	border-radius: 6px;
}

#u63203-2
{
	font-size: 15px;
	padding-top: 0px;
	font-family: lato, sans-serif;
}

#u3314-4
{
	background-color: transparent;
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	font-family: lato, sans-serif;
	font-weight: 300;
}


